<section class="module light" id="tempnew">
    <div class="container">
        <h1>New car</h1>
        <div class="row">
            <div class="twelve columns">
                <input type="text" placeholder="Brand" required />
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <input type="text" placeholder="Model" required />
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <input type="text" placeholder="Horse Power" required />
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <input type="text" placeholder="Number of seats" required />
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <input type="checkbox" placeholder="" required />
                <p>Gear</p>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
               <button class="button-primary">Create car</button>
            </div>
        </div>
    </div>
</section>


<section class="module gray">
    <div class="container">
        <form ng-submit="addCar()">
            <input type="text" ng-model="title" placeholder="title" />
            <input type="number" ng-model="pricePerDay" placeholder="number"/>
            <button type="submit" class="button-primary">Create</button>
        </form>
    </div>
</section>

<section class="module light">
    <div class="container">
        <div ng-repeat="car in cars">
            {{car.title}} - price: {{car.pricePerDay}}
            <button ng-click="deleteCar(car)">Reserve car</button> <!-- Deletes car -->
        </div>
    </div>
</section>