<section class="module light" id="tempnew">
    <div class="container">
        <h3>New car</h3>
        <form ng-submit="addCar()">
            <div class="row">
                <div class="four columns">
                    <input type="text" ng-model="title" placeholder="Displayname" required />
                </div>
                <div class="four columns">
                    <input type="text" ng-model="brand" placeholder="Brand (e.g. Ford)" required />
                </div>
                <div class="four columns">
                    <input type="text" ng-model="model" placeholder="Model (e.g. Mustang)" required />
                </div>
            </div>
            <div class="row">
                <div class="four columns">
                    <input type="number" ng-model="horsePower" placeholder="Horse Power" required />
                </div>
                <div class="four columns">
                    <input type="number" ng-model="fuelConsumption" placeholder="Fuel consumption / 100kmh" required />
                </div>
                <div class="two columns">
                    <input type="number" ng-model="numberOfSeats" placeholder="Seats" required />
                </div>
                <div class="two columns">
                    <input type="number" ng-model="numberOfDoors" placeholder="Doors" required />
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <input type="text" ng-model="pricePerDay" placeholder="Price per day" required />
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <input type="text" ng-model="image" placeholder="Link to image of car" required />
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <label>
                        <input type="checkbox" ng-model="isAutomatic" placeholder="" />
                        <span class="label-body u-pull-left">Car has automatic gear</span>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                   <button class="button-primary" type="submit">Create car</button>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="module gray">
    <div class="container">
        <h3>Manage cars</h3>
        <div ng-repeat="car in cars">
            <p>{{car.title}}</p>
            <button ng-click="deleteCar(car)">Delete car</button>
        </div>
    </div>
</section>