<section class="module light">
    <div class="container dashboard">
        <a href="/#/reservations/new" class="dashboard_item primary">
            <i class="fa fa-plus fa-2x"></i>
            <p>New Reservation</p>
        </a>
        
        <a href="/#/reservations/overview" class="dashboard_item">
            <i class="fa fa-car fa-2x"></i>
            <p>My Reservations</p>
        </a>
        
        <a href="/#/details" class="dashboard_item">
            <i class="fa fa-user fa-2x"></i>
            <p>Edit My Details</p>
        </a>
        
        <a href="/#/cars" class="dashboard_item">
            <i class="fa fa-car fa-2x"></i>
            <i class="fa fa-plus fa-2x"></i>
            <p>New car</p>
        </a>
    </div>
</section>