<section class="module light">
    <div class="container dashboard">
        <a href="/#/reservation/new" class="dashboard_item primary">
            <i class="fa fa-plus fa-2x"></i>
            <p>New reservation</p>
        </a>
        
        <a href="/#/reservation/overview" class="dashboard_item">
            <i class="fa fa-car fa-2x"></i>
            <p>View my reserations</p>
        </a>
        
        <a href="/#/details" class="dashboard_item">
            <i class="fa fa-user fa-2x"></i>
            <p>Edit my details</p>
        </a>
        
        <a href="/#/dashboard" class="dashboard_item">
            <i class="fa fa-question fa-2x"></i>
            <p>To be defined</p>
        </a>
        <a href="/#/dashboard" class="dashboard_item">
            <i class="fa fa-question fa-2x"></i>
            <p>To be defined</p>
        </a>
    </div>
</section>