

<section class="module" id="login">
    <div class="container">
        <div ng-show="error" class="alert">
            <span>{{ error.message }}</span>
        </div>
    </div>
    
    <div class="centered login_container">
        <form ng-submit="logIn()">                        
            <input type="text" placeholder="Username" ng-model="user.username" required autofocus/>
            <input type="password" placeholder="Password" ng-model="user.password"required />
            <button type="submit" class="button-primary">Log In</button>
        </form>
    </div>
</section>
