<section class="module light">
    <div class="container">
        <h3>New reservation</h3>
        <h5>Choose a car:</h5>
        <div ng-repeat="car in cars">
            <div class="car_container">
                <div class="row">
                    <div class="four columns">
                        <img src="{{car.image}}" alt="{{car.title}}"/>
                    </div>
                    <div class="six columns">
                        <h4>
                            {{car.title}} <span>{{car.pricePerDay}}.- per Day • </span><span> Fuel: {{car.fuelConsumption}}l / 100 km/h</span>
                        </h4>
                        <p>{{car.brand}} {{car.model}} • Seats: {{car.numberOfSeats}} • Doors: {{car.numberOfDoors}}</p>
                        
                        <div ng-show="{{car.isAutomatic}}"><i class="fa fa-cogs"></i> This car has automatic gear</div>   
                        <!-- 
                        <a ng-href="/#/reservations/new/{{car._id}}" class="button-primary">Reserve this car</a> -->               
                        
                        <a ui-sref="reservation_finish({id: car._id})" class="button-primary">Reserve this car</a>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
    </div>
    
</section>
