<section class="module light">
    <div class="container">
        <form ng-submit="addReservation()">
            <h3>New reservation</h3>

            <h5>Your car: {{car_id}}</h5>

            
            <h5>Select duration</h5>
                        
            
            <div class="row">
                <div class="six columns">
                    <span class="label-body">Startdate of reservation</span>
                    <input type="date" ng-model="dateFrom" required />
                </div>
                <div class="six columns">
                    <span class="label-body">End of reservation</span>
                    <input type="date" ng-model="dateTo" required />
                </div>
            </div>
            <div class="row">
                <div class="eight columns">
                    <label>
                        <input type="checkbox" ng-model="isRented" placeholder=""/>
                        <span class="label-body">Rent car (Reservation only reserves it)</span>
                    </label>
                </div>            
                <div class="four columns">
                    <button class="button button-primary u-pull-right" type="submit">Reserve car!</button>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="module gray">
    <h1>debug</h1>
    <div ng-repeat="r in reservations">
        {{r}}
    </div>
</section>
