<section class="module light" id="userprofile">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h3>{{current.username}}</h3>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <p>Name: {{current.name}}</p>
                <p>Mail: {{current.mail}} </p>
                <hr/>
                <p>Address: {{current.address}}</p>
                <p>City: {{current.city}}</p>
                <p>Country: {{current.country}}</p>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <a href="/#/usersettings" class="button button-primary">Edit user</a>
            </div>
            <div class="six columns">
                <a href="/#/dashboard" class="button">Go To Dashboard</a>
            </div>
        </div>
    </div>
</section>